* {
	margin: 0;
}

body {
	font: 14px/1.5 "Helvetica Neue", arial, "Hiragino sans gb", "microsoft yahei",sans-serif;
	word-break: break-all;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

ul {
	list-style: none;
}

.fullPage-wp{ 
    -webkit-transform: translate3d(0,0,0);     
    transform: translate3d(0,0,0);     
}

.fullPage-wp.anim{
    -webkit-transition: all 500ms 0 ease;
    transition: all 500ms 0 ease; 
}

.wrapper {
	
	overflow: hidden;
	position: relative;
	/*height: 587px;*/
}

#page-wrapper {
	width: 100%;
	position: absolute;
	/*height: 2257px;*/
}

.page {
	/*height: 587px;*/
}

.page1 {
	background-color: RGB(136, 14, 79);
}

.mask {	
	background: radial-gradient(closest-corner at 50% 50% , rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,1));
	width: 100%;
	height: inherit;
	position: relative;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 15px solid rgba(255,255,255,0.3);
	color: rgb(255,255,255);
	text-align: center;
	line-height: 200px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.page2 {
	position: relative;
	background-color: RGB(142, 68, 151);
}

.page-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 76%;
	padding: 30px 0;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%, -50%);
	background-color: rgb(238,238,238);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
}

.page-head {
	margin: 10px 0;
	text-align: center;
}

.page2 .page-body {
	text-align: center;
}



.page3 {
	background-color: rgb(107, 142, 178);
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
}

.timeline {
	position: relative;
	padding: 0px 0 10px;
	width: 90%;
	margin: 0 5%;
}

.timeline::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1.5px;
	content: " ";
	width: 3px;
	background-color: rgb(238,238,238);
}

.timeline li {
	position: relative;
	margin-bottom: 10px;
}

.timeline li::after {
	clear: both;
	content: " ";
	display: table;
}

.edu {
	width: 200px;
	border-radius: 5px;
	margin: 0 auto;
	background-color: rgb(41,41,41);
	color: rgb(238,238,238);
	text-align: center;
}

.tl-circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -10px;
	background-color: rgb(238,238,238);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tl-content {
	position: relative;
	width: 45%;
	text-align: center;
	background-color: rgb(238,238,238);
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.tl-content::before {

}

.tl-content .tl-head {
	color: RGB(240, 173, 78);
	padding: 10px 0;
}

.tl-content .tl-body {
	padding-bottom: 10px;
}

.inverted .tl-content {
	float: right;
}

.page4 {
	position: relative;
	background-color: RGB(0, 121, 107);	
}

.page4 .page-content {
	width: 99%;
	background-color: rgba(255,255,255, 0.5);
	border-radius: 10px;
	padding: 0;
	line-height: 1;
}

.page4 .page-head {
	margin: 0;
}

#mycanvas {
			width: 300px;
			height: 300px;
			display: block;
			margin: 0 auto;
		}

.page5 {
	position: relative;
	background-color: RGB(139, 195, 74);
}

.page6 {
	position: relative;
}

.page6 .page-body {
	text-align: center;
}