<nav class="site-nav">
    <ul class="clearfix">
        <li>
            <a href="/" class="">
                <span class="iconfont icon-home"></span>
            </a>
        </li>
        <li>
            <a href="/article" class="">
                <span class="iconfont icon-article"></span>
            </a>
        </li>
        <li>
            <a href="/life" class="">
                <span class="iconfont icon-camera"></span>
            </a>
        </li>
        <li>
            <a href="/About" class="">
                <span class="iconfont icon-user"></span>
            </a>
        </li>
    </ul>
</nav>