<nav id="site-nav" class=" ">
    <ul class="clearfix">
        <li>
            <a href="/" class="">
                <span class="iconfont icon-home"></span>
            </a>
        </li>
        <li>
            <a href="/category/article" class="">
                <span class="iconfont icon-article"></span>
            </a>
        </li>
        <li>
            <a href="/category/life" class="">
                <span class="iconfont icon-camera"></span>
            </a>
        </li>
        <li>
            <a href="/about" class="">
                <span class="iconfont icon-user"></span>
            </a>
        </li>
    </ul>
</nav>