<nav id="site-nav" class=" ">
    <ul>
        <li>
            <a href="/" class="tooltip">
                <span class="iconfont icon-home"></span>
                <span>Home</span>
            </a>

        </li>
        <li>
            <a href="/category/article" class="tooltip">
                <span class="iconfont icon-article"></span>
                <span>Technique</span>
            </a>

        </li>
        <li>
            <a href="/category/life" class="tooltip">
                <span class="iconfont icon-camera"></span>
                <span>Life</span>
            </a>

        </li>
        <li>
            <a href="/about" class="tooltip">
                <span class="iconfont icon-user"></span>
                <span>About me</span>
            </a>

        </li>
    </ul>
</nav>